@page
@model WebClient.Pages.IndexModel
@{
    //ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please enter details to calcualte the amount of tax to be paid:</p>
        <div class="text-center">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserCalculation.EmailAddress" class="control-label"></label>
                    <input asp-for="UserCalculation.EmailAddress" class="form-control" />
                    <span asp-validation-for="UserCalculation.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserCalculation.PostalCode" class="control-label"></label>
                    <select asp-for="UserCalculation.PostalCode" asp-items="Model.PostalCode" class="form-control">
                        <option value="">Choose a Postal Code</option>
                    </select>
                    <span asp-validation-for="UserCalculation.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserCalculation.AnnualIncome" class="control-label"></label>
                    <input asp-for="UserCalculation.AnnualIncome" class="form-control" />
                    <span asp-validation-for="UserCalculation.AnnualIncome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCalculations[0].EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCalculations[0].PostalCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCalculations[0].AnnualIncome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCalculations[0].TaxCalculation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCalculations[0].CalculationDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserCalculations)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnnualIncome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxCalculation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CalculationDate)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
